/* You can add global styles to this file, and also import other style files */
.body-left{
    margin-left: 250px;

}
.main-body{
    color: #7e7e7e;
}


@media (max-width: 768px) {
    .body-left{
      margin-left: 5px;
      margin-right: 0px;
    }
  }
  